*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    letter-spacing: 0.4px;
    margin-top: 30px;
}
.img{
    width: 70%;
    size: 30%;
}
.img2{
    width: 80%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 45%;
}
.big{
    color: white; 
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}
p{
    color: white;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
}
.right{
    color: white;
    font-family: 'Raleway', sans-serif;;
    text-size-adjust: 15px;
}
.button{
    padding: 10px;
    border-radius: 15px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: rgb(44, 120, 182);
    border-color: rgb(44, 120,182);
    color: white;
    border: 0;
}
.button:hover{
    background-color: aqua;
}
.grid1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 11.5px;
    flex-wrap: wrap;
}
nav>ul{
    display: flex;
    color: white;
    font-size: 14px;
    margin-right: 25px;
}
.features, .Team, .Sign-In{
    opacity: 0.7;
}
a:hover{
    opacity: 1;
    color: white;
    text-decoration: underline;
}
#Border{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 13px;
    color: white;
    padding: 20px;
}
#productive{
    text-align: left;
}
.bold{
    font-size: 25px;
}
#email{
    padding: 13px;
    border-radius: 25px;
    padding-right: 100px;
    border: 0;
}
#button2{
    padding: 13px;
    border-radius: 25px;
    padding-right: 85px;
    padding-left: 85px;
    background-color:  rgb(44, 120, 182);
    border-color: rgb(44, 120, 182);
    color: white;
    border: 0;
}
.button2{
    text-decoration: none;
    color: white;
}
#button2:hover{
    background-color: aqua;
}
.button2:hover{
    text-decoration: none;
}
.border2{
    border: 1px;
    background-color: hsl(216, 53%, 9%);
    margin-top: 150px;
}
.Get{
    font-size: 30px;
    color: white;
}
#lastLayer{
    text-align: left;
    color: white;
    font-size: 14px;
    margin-left: 25px;
}
.logo2{
    margin-left: 20px;
}
.icon1{
    width: 22%;
}
.icon2{
    width: 14.5%;
}
.icon3{
    width: 22%;
}
.icon4{
    width: 22%;
}
.features, .Team, .Sign-In{
    color: white;
    text-decoration: none;
}
a{
    color: aqua;
}
.Get-started{
    color: white;
    text-decoration: none;
}
.Get-started:hover{
    text-decoration: none;
}
#quote{
    margin-left: 27px;
}
.firstBorder, .secondBorder, .thirdBorder{
    padding: 20px;
    background-color: hsl(219, 30%, 18%);
    border: 1px;
    border-radius: 2%;
    text-align: left;
}
.profile1, .profile2, .profile3{
    border-radius: 50%;  
    width: 17%;
    margin-left: 10px;
}
.profileName{
    display: flex;
    gap: 25px;
}
.social{
    color: white;
    display: flex;
    justify-content: center;
}
.Name{
    margin-top: 20px;
}
#quote, #Border{
    position: relative;
    top: 0;
    left: 0;
}
#quote {
    z-index: 6;
}
#Border{
    z-index: 7;
}
@media only screen and (min-width:600px) {
   body{
       width: 100%;
   }
   .container{
       margin-right: 50px;
   }
   .img{
       width: 40%;
   }
   .img2{
       width: 130%;
   }
    .right{
        font-size: 15px;
    }
    #logo{
        margin-right: 750px;
        margin-left: 50px;
        width: 25%;
    }
    .grid1{
        width: 80%;
        margin-left: 100px;
    }
    .Text{
        width: 40%;
        margin-left: 405px;
    }
    .FirstR, .SecondR, .ThirdR{
        display: flex;
        margin-left: 50px;   
    }
    .ThirdR{
        gap: 30px;
    }
    #productive{
        margin-top: 50px;
        text-align: left;
    }
    .bold{
        font-size: 30px;
    }
    #Border{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
    flex-basis: 33%;
    margin-right: 35px;
    }
    .border2{
        width: 60%;
        margin-left: 250px;
    }
    .borderbutton{
        display: flex;
        gap: 20px;
    }
    #email{
        padding-right: 230px;
        margin-left: 30px;
    }
    #lastLayer{
        display: flex;
        text-align: none;
        justify-content: space-around;
    }
    .lorem{
        width: 300px;
    }
    .logo2{
        margin-left: 50px;
    }
}

